body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Chakra Petch', sans-serif;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.title {
    font-family: 'Black Ops One', sans-serif;
}

.container_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 10px 45px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.2rem;
    min-height: 600px;
    max-height: 600px;
    min-width: 650px;
    max-width: 650px;
}

.start_btn {
    cursor: pointer;
    position: absolute;
    padding: 20px 15px;
    border: 1px solid rgba(30, 26, 26, 0.99);
    border-radius: 5px;
    background-color: rgba(30, 26, 26, 0.99);
    color: white;
    bottom: 15%;
    left: 40%;
    align-self: center;
    transition: all .3s ease-in-out;
}

.start_btn:hover {
    background-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.mic {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in-out;
}

.mic:hover {
    color: rgb(49, 49, 49);
    rotate: 10deg;
}

.title_listening, .transcript, .thinking {
    text-align: center;
}

.aiText {
    text-align: justify;
    max-height: 380px;
    overflow-y: auto;
}

@media screen and (max-width:767px) {}