body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 35px;
    text-align: justify;
    font-weight: bold;
    font-size: 1.2rem;
    min-height: 600px;
    max-height: 600px;
    min-width: 650px;
    max-width: 650px;
}
.start_btn{
    position: absolute;
    padding:20px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    bottom: 40%;
    left: 40%;
    align-self: center;
}
.start_btn__container {
    
}


.bio {
    transition: .25s all ease-in-out;
}